.myform{
    width:100%;
    height:100%;
    .item{
        margin: 5px 5px;
        width: 50%; 
            padding-right: 5px;
            float: left;
            padding-left: 5px;
        }; 
    };
    .items{
        margin: 5px 5px;
        width: 49%; 
            padding-right: 5px;
            float: left;
            padding-left: 5px;
        }; 
    .itemss{
        margin:5px 5px;
        width:100%;
        padding-right: 5px;
        float: left;
        padding-left: 5px;
    }
.do{
    background-color: rgba(255,255,255,0.7) ! important;
    color:black;
}
.contentMaxHeight{
    overflow:'auto';
    position:'fixed';
}
.apihomep{
    background-image: url('../../img/4.jpg');
    background-attachment: fixed;
    height:100%;
    
}
.apidatap{
    background-image: url('../../img/9.jpg');
    background-attachment: fixed;
}
.caseadd{
    background-image: url('../../img/11.jpg');
    background-attachment: fixed;
    height:100%;
}
.caseupdate{
    background-image: url('../../img/8.jpg');
    background-attachment: fixed;
    height:100%;
}
.apiCaseList{
    background-image: url('../../img/10.jpg');
    background-attachment: fixed;
    height:100%;
}
.apiCaseReportList{
    background-image: url('../../img/1.jpg');
    background-attachment: fixed;
    height:100%;
}
.doTest{
    background-image: url('../../img/2.jpg');
    background-attachment: fixed;
    height:100%;
}
.doTestMark{
    background-image: url('../../img/3.jpg');
    background-attachment: fixed;
    height:100%;
}
.groupHome{
    background-image: url('../../img/5.jpg');
    background-attachment: fixed;
    height:100%;
}
.groupDo{
    background-image: url('../../img/14.jpg');
    background-attachment: fixed;
    height:100%;
}
.groupadd{
    background-image: url('../../img/34.jpg');
    background-attachment: fixed;
    height:100%;
}
.tirex{
    background-image: url('../../img/21.jpg');
    background-attachment: fixed;
    height:100%;
}
.guicasehome{
    background-image: url('../../img/25.jpg');
    background-attachment: fixed;
    height:100%;
}
.guicasehomeadd{
    background-image: url('../../img/24.jpg');
    background-attachment: fixed;
    height:100%;
}
.guicaseTesthome{
    background-image: url('../../img/26.jpg');
    background-attachment: fixed;
    height:100%;
}

.ant-table{
    background-color: rgba(255,255,255,0.8);
    color:#000;
    .ant-table-tbody > tr:hover > td{
        background-color: rgba(90,68,255,0.2); 
    }
    
}
.divider{
    width: 10px;
    background-color:pink;
}
.ant-select-customize-input{background-color: rgba(255,255,255,0.5)! important}
.ant-select-selector{background-color: rgba(255,255,255,0.5) ! important}
.ant-table-row-selected{background-color: rgba(255,255,255,0.5) ! important}
.ant-btn-primary-disabled, .ant-btn-primary.disabled, .ant-btn-primary[disabled], .ant-btn-primary-disabled:hover, .ant-btn-primary.disabled:hover, .ant-btn-primary[disabled]:hover, .ant-btn-primary-disabled:focus, .ant-btn-primary.disabled:focus, .ant-btn-primary[disabled]:focus, .ant-btn-primary-disabled:active, .ant-btn-primary.disabled:active, .ant-btn-primary[disabled]:active, .ant-btn-primary-disabled.active, .ant-btn-primary.disabled.active, .ant-btn-primary[disabled].active {
    color: rgba(0, 0, 0, 0.25);
    background-color: rgba(90,68,255,0.4);
    border-color: #d9d9d9;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.ant-modal-content{background-color: rgba(255,255,255,0.9)}
.ant-modal-header{background-color: rgba(255,255,255,0.9) ! important}
.ant-timeline-item-head-custom{padding:0px ! important}

